In [24]:
import pandas as pd

# read csv file
rank2021 = pd.read_csv("20~21.csv")
rank2122 = pd.read_csv("21~22.csv")
rank2021

    球隊  名次   勝   負     勝率
0   爵士   1  52  20  0.722
1   太陽   2  51  21  0.708
2   金塊   3  47  25  0.653
3   快艇   4  47  25  0.653
4  獨行俠   5  42  30  0.583

In [17]:
rank2122

    球隊  名次   勝   負     勝率
0   太陽   1  64  18  0.780
1   灰熊   2  56  26  0.683
2   勇士   3  53  29  0.646
3  獨行俠   4  52  30  0.634
4   爵士   5  49  33  0.598

In [33]:
alldata1 = list(rank2021['球隊'])
alldata1

['爵士', '太陽', '金塊', '快艇', '獨行俠']

In [26]:
alldata2 = list(rank2122['球隊'])
alldata2

['太陽', '灰熊', '勇士', '獨行俠', '爵士']

In [35]:
A1 = {'爵士', '太陽', '金塊', '快艇', '獨行俠'}
A2 = {'太陽', '灰熊', '勇士', '獨行俠', '爵士'}

print (A1&A2)
print (A1|A2)
print (A1-A2)
print ((A1|A2)-(A1&A2))

{'獨行俠', '爵士', '太陽'}
{'獨行俠', '灰熊', '金塊', '快艇', '太陽', '爵士', '勇士'}
{'金塊', '快艇'}
{'灰熊', '勇士', '金塊', '快艇'}